body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5e9d7;
  color: #6fab32;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h3 {
  color: #6fab32;
}

.form-group label {
  color: #6fab32;
}

input[type="text"] {
  background-color: #fff;
  color: #000;
  padding: 10px;
}

button {
  background-color: #6fab32;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
}

#plantForm input[type="submit"] {
  background-color: #006400; /* Dark green */
  color: #fff; /* White text */
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: block;
}

.error {
  color: #ff0000;
  font-size: 14px;
}
